##################################################
# 系统临时文件
##################################################
# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

##################################################
# 编辑器
##################################################
# VSCode
.vscode/
*.code-workspace

# JetBrains (IntelliJ IDEA, WebStorm, PyCharm, etc.)
.idea/
*.iml
out/

##################################################
# Node.js / 前端
##################################################
node_modules/
bower_components/
jspm_packages/
.npm/
.eslintcache
.stylelintcache
.next/
.nuxt/
build/
.cache/
.tmp/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


##################################################
# 图片 / 视频（assets 下的除外）
##################################################
# 忽略所有图片和视频文件
*.jpg
*.jpeg

# assets 文件夹下的图片视频要参与 git
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.jpeg
!assets/**/*.gif
!assets/**/*.bmp
!assets/**/*.svg
!assets/**/*.webp
!assets/**/*.mp4
!assets/**/*.mov
!assets/**/*.avi
!assets/**/*.mkv
!assets/**/*.webm
